<!-- 窗体页面所用 -->
<script type="text/javascript">var JS_DIR = "__JS__"; var UPLOAD_DIR = "/{:C('UPLOAD_FLOAD')}";</script>
<link rel="stylesheet" href="__CSS__/bootstrap-cerulean.min.css" />
<link href="__CSS__/charisma-app.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/bower_components/jquery/jquery.min.js"></script>
<!-- todo -->
<script type="text/javascript" src="__JS__/jquery-ui.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.fileupload.js"></script>

<script type="text/javascript" src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/bower_components/chosen/chosen.jquery.min.js"></script>
<link href='__PUBLIC__/bower_components/chosen/chosen.min.css' rel='stylesheet'>
<script type="text/javascript" src="__JS__/jquery_validate_min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script src="__JS__/My97DatePicker/WdatePicker.js"></script>