<div class="background-white border padding30">
    <div class="row">
        <div class="col-sm-4 EditBootstrap">
            <h2>{$data['name']} <i class="btn btn-green">{$data['proxy_status_text']}</i></h2>
            <p class="font-color-526a7a margin-top-20">对应楼盘：{$data['hname']}</p>
        </div>
        <div class="col-sm-8 text-right status">
            <if condition="$data['status'] == 0">
                <a class="btn btn-blue margin-top-20 doUpHouse" data-id="{$data['id']}">
                    <i class="searchNewIcon"></i>上架
                </a>
            <else />
                <a class="btn btn-blue margin-top-20">
                    <i class="searchNewIcon"></i>已上架
                </a>
            </if>
        </div>
    </div>
</div>
<div class="promptBox" style="display:none;"><p class="background-white"></p></div>
<script type="text/javascript">
    // 上架操作
    $('.doUpHouse').click(function(){
        var str = '<a class="btn btn-blue margin-top-20"><i class="searchNewIcon"></i>已上架</a>'
        $.post("{:U('changeHouseStatus')}", { id: $(this).attr('data-id'), type: 1 }, function(res) {
            if (res.status == 1) {
                promptBoxHidden('上架成功')
                $('.status').html(str)
            }else{
                promptBoxHidden('操作失败')
            }
        });
    })
</script>