<include file="Common:header" />
<div class="ch-container">
    <div class="row">

        <div id="content" class="">
        	      <div class="platform-container clearfix" >
		<script src="http://code.highcharts.com/highcharts.js"></script>
      <aside class="platform-r-aside"  style="margin:0">
      <div style="    margin: 0 auto;text-align: center;margin-top: 250px;">
      <img style="width: 25%;" src="__DEFAULT_IMG__/bg2.png" />
      </div>
       
       </aside>
   	 </div>
  

   
        </div>
    </div>
    </div>
</body>

</html>
