<include file="Common:header" />
		<!--主体开始-->
		<div class="ho-main">
			
			<div class="ho-biaoti">
				<div class="ho-bg ho-bg3">
					<ul>
						<li class="bg1 ho-active">基本信息</li>
						<li class="bg2 ho-active">周边设施</li>
						<li class="bg3 ho-active">保存成功</li>
					</ul>		
				</div>
			</div>
			
			<div class="ho-add-main">
				
				<div class="add-ok">
					<img src="__IMG__/ok.jpg">
					<p>楼盘新增成功</p>
					<a href="{:U('index')}" class="btn btn-primary btn-sm">返回</a>
				</div>
				
			</div>
			
			
			
		</div>
		<!--主体结束-->
		
		

		
		
		
	</body>
</html>
